*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
    --footer-1: (hsl(238, 22%, 44%));
    --footer-2: (hsl(243, 87%, 12%));
    --button: (hsl(224, 93%, 58%));
    --hyper-link: (hsl(170, 45%, 43%));
*/

.nav-container{
    display: flex;
}

.logo{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 63px;
}

.nav-bar{
    margin-left: 56rem;
    margin-top: 30px;
}



.nav-bar ul{
  display: flex;
  list-style: none;
  
}

.nav-bar li{
    padding-top: 15px;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
}


.nav-list1{
    margin-right: 40px;
   
}

.nav-list2{
   margin-right: 40px;
 
}

.top-container{
    height: 400px;
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    margin-top: 30px;
}

.para-container{
    width: 500px;
    height: 500px;
    margin-left: 60px;
    font-family: "Raleway", sans-serif;
}

.para-container h1{
    margin-top: 150px;
    margin-bottom: 20px;
    color: hsl(243, 87%, 12%);
    font-weight: 700;
}

.para-container p{
    margin-bottom: 20px;
    font-size: 16px;
    color: hsl(243, 87%, 12%);
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.top-img{
    width: 800px;
    margin-left: 50px;
    margin-right: 0;
}

.top-email-input{
    height: 40px;
    width: 300px;
    border-radius: 3px;
    border: 1px solid;
    
}

.top-email-btn{
    width: 160px;
    height: 40px;
    background-color: hsl(224, 93%, 58%);
    border: none;
    color: white;
    border-radius: 3px;
}

.top-email-btn:hover{
    background-color: hsl(224, 93%, 70%);
}


.mid-container{
    margin-top: 150px;
    height: 675px;
    display: flex;
    align-items: flex-start;
    align-items: flex-start;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: hsl(240, 75%, 98%);
}

.mid-para-container{
    width: 600px;
    height: 675px;
    margin-left: 60px;
    font-family: "Raleway", sans-serif;
    color: hsl(243, 87%, 12%);
}

.mid-para-container h2{
    font-size: 30px;
    font-weight: 700;
    margin-top: 75px;
    margin-bottom: 30px;
}

.mid-para-container p{
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
}

.mid-para-container a{
    color: hsl(170, 45%, 43%);
    cursor: pointer;
    text-decoration: underline;
    font-family: "Open Sans", sans-serif;
    text-underline-offset: 8px;
}

.quote-div{
    margin-top: 40px;
    width: 325px;
    height: 250px;
    box-shadow: 3px 2px 4px 4px hsl(0, 0%, 75%);
    border-radius: 5px;
}

.quote-para{
    margin-top: 20px;
    margin-left: 1.5rem;
}

.quote-svg{
    margin-bottom: 5px;
    margin-top: 20px;
}

.quote-para p{
    font-family: "Open Sans", sans-serif;
    font-size: 13px;
    width: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-author{
    display: inline-flex;
    margin-left: 1.5rem;
}

.avatar-img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 18px;
}

.kyle{
    width: 150px;
    margin-left: 5px;
}

#kyle{
    font-weight: bolder;
    font-size: 12px;
    margin-top: 22px;
    margin-bottom: 0;
    letter-spacing: 1px;
}

#kyle-position{
    font-family: "Open Sans", sans-serif;
    font-size: 10px;
}

.early-container{
    height: 275px;
    background-color: hsl(238, 22%, 44%);
    color: white;
    display: flex;
}

.early-div{
    width: 550px;
    margin-left: 50px;
}

.early-div h3{
    margin-top: 80px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
}

.early-div p{
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}

.early-p{
    width: 550px;
}

.email-div{
    width: 450px;
    height: 150px;
    font-family: "Open Sans", sans-serif;
    margin-left: 20rem;
    margin-top: 85px;
}

.email-div input{
    width: 450px;
    height: 48px;
    border-radius: 3px;
    border: 1px solid;
    margin-bottom: 10px;
    border: none;
}

.email-div input::placeholder{
    font-family: "Open Sans", sans-serif;
    padding-left: 20px;
}

.email-div button {
    width: 175px;
    height: 40px;
    background-color: hsl(224, 93%, 58%);
    font-family: "Open Sans", sans-serif;
    color: white;
    font-weight: 400;
    border: none;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgb(38, 37, 37);
}

.email-div button:hover{
    background-color: hsl(224, 93%, 70%);
}

.contact-container{
    height: 375px;
    font-family: "Open Sans", sans-serif;
    display: flex;
    background-color: hsl(243, 87%, 12%);
    color: white;
}

.contact-container a{
    color: white;
}

.phone-container{
    margin-top: 100px;
    height: 200px;
}

.logo1{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 50px;
    filter: opacity(0.6) drop-shadow(0 0 0 white);
}

.contact-container a{
    text-decoration: none;
    font-size: 15px;
}

.contact-container li{
    list-style: none;
}

.phone-div{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-left: 50px;
}

.phone-div li{
    margin-bottom: 10px;
}

.fa-phone, .fa-envelope{
    margin-right: 5px;
}

.about-container{
    display: flex;
    margin-left: 200px;
    height: 100px;
    margin-top: 153px;
    font-size: 15px;
}

.about-div{
    width: 200px;
    margin-right: 50px;
}

.about-div li{
    margin-top: 13px;
}

.terms-div{
    width: 200px;
    margin-right: 50px;
}

.terms-div li{
    margin-top: 13px;
}

.icon-div{
    width: 180px;
    height: 60px;
}

.icon-div ul{
    display: flex;
}


.icon-div li{
    margin: 10px;
    transition: transform 0.3s ease-out;
}

.icon-div li:hover{
    transform: translateY(5px);
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}